.g-dialog {
  .overlay {
    position: fixed;
    z-index: 90;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000050;

    transition: var(--delay) ease-out;
  }

  .dialog {
    position: fixed;
    z-index: 100;

    bottom: 0;
    left: 0;
    right: 0;

    padding: 32px 16px;

    padding-top: 48px;

    border-top: 12px solid var(--g-theme-surface-high);
    border-radius: 32px 32px 0 0;
    height: calc(100vh - 56px);
    background-color: var(--g-theme-surface);

    .wrapper {
      position: relative;
      .close-btn {
        all: unset;
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);

        cursor: pointer;
        width: 48px;
        height: 8px;
        border-radius: 8px;
        background: var(--g-theme-background);
      }

      .content {
        height: calc(100vh - 56px - 48px);
        overflow-x: scroll;
      }
    }

    transition: var(--delay) ease-out;
  }

  .m-dialog-hidden {
    transform: translateY(100vh);
    opacity: 0;
  }

  .m-overlay-hidden {
    opacity: 0;
  }
}
